:root {
    --heading-font: "Raleway", sans-serif;
    --default-font: "Dosis", sans-serif;
    --branding-color: rgba(250, 235, 215, 0.3);
    --button-color: rgb(145, 123, 95);
}

body {
    margin: 55px 0;
}

header {
    background: url(/images/barnensbad1.jpg) no-repeat center;
    height: 250px;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
    opacity: 0.7;
}

p {
    font-weight: normal;
    line-height: 30px;
    font-family: var(--default-font);
}

.btn {
    border: rgb(77, 20, 20);
}

.btn-learn {
    background: var(--button-color);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 4px;
    outline-width: 1px;
    font-size: 14px;
    color: white;
    font: var(--heading-font);
}

.hero {
    background: var(--branding-color);
}

.about-section {
    padding: 30px;
}

.about-section h1,
h2 {
    margin: 0px;
    padding: 10px;
}

.about-section p {
    line-height: 24px;
}

.about-section-content {
    padding-top: 60px;
}

.email-link {
    display: flex;
    justify-content: center;
    color: var(--primary-color);
    font-size: 20px;
    text-decoration: none;
}

.email-link:hover {
    text-decoration: underline;
    color: var(--mouseover-color);
}

@media (max-width: 576px) {
    h1,
    h2 {
        padding: 10px;
    }
    h1 {
        font-size: 24px;
        line-height: 1.5;
    }
    h2 {
        font-size: 18px;
    }
    p {
        text-align: center;
    }
    .project-description {
        text-align: center;
    }
}