:root {
    --heading-font: "Raleway", sans-serif;
    --default-font: "Dosis", sans-serif;
    --branding-color: rgba(250, 235, 215, 0.3);
}

body {
    font-family: var(--default-font);
    background: var(--branding-color);
    margin: 30px;
}

header {
    background: url(/images/barnensbad1.jpg) no-repeat center;
    height: 250px;
}

h1,
h2 {
    font-family: var(--heading-font);
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 24px;
}

p {
    font-weight: normal;
}

@media (max-width: 576px) {
    h1 {
        font-size: 24px;
        line-height: 1.5;
    }
    h2 {
        font-size: 18px;
    }
}